@font-face {
  font-family: 'runic';
  src: url("../../assets/fonts/runic/runic.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/runic/runic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/runic/runic.woff2") format("woff2"), url("../../assets/fonts/runic/runic.woff") format("woff"), url("../../assets/fonts/runic/runic.ttf") format("truetype"), url("../../assets/fonts/runic/runic.svg#runic") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

#item-list-wrapper {
  width: 100vw;
  height: auto;
  min-height: 300px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#item-list-wrapper #filter-options {
  width: 100vw;
  height: auto;
  max-width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#item-list-wrapper #filter-options #search {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#item-list-wrapper #filter-options #search #search-bar {
  height: 100%;
  margin-right: 15px;
}

#item-list-wrapper #filter-options #search #search-button {
  height: 100%;
}

#item-list-wrapper #filter-options #search #search-button button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#item-list-wrapper #filter-options #sort-and-filter {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#item-list-wrapper #filter-options #sort-and-filter #sort {
  height: 100%;
  margin-left: 5px;
}

#item-list-wrapper #filter-options #sort-and-filter #filter-button {
  height: 100%;
  width: 20px;
}

#item-list-wrapper #filter-options #sort-and-filter #filter-button button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#item-list-wrapper #item-list {
  width: 100vw;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 20px 8vw;
}

#item-list-wrapper #item-list .grid-item {
  grid-row: span 1;
  grid-column: span 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

#item-list-wrapper #item-list .grid-item-wide {
  grid-row: span 2;
  grid-column: span 5;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

#item-list-wrapper #item-list .item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40vw;
  height: 20vw;
  max-width: 150px;
  max-height: 400px;
  min-width: 100px;
  min-height: 300px;
  background-color: #FFFFFF;
  border: 1px;
  border-style: solid;
  border-color: #E0E0E0;
  border-radius: 25px;
}

#item-list-wrapper #item-list .item-card .item-img-container {
  height: 55%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20%;
  cursor: pointer;
}

#item-list-wrapper #item-list .item-card .item-img-container img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 560px) {
  #item-list-wrapper #item-list .item-card .item-img-container img {
    max-width: 150px;
    height: auto;
  }
}

#item-list-wrapper #item-list .item-card .item-summary {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

#item-list-wrapper #item-list .item-card .item-summary .item-title-text {
  font-size: 0.75rem;
  padding: 0 5px;
}

#item-list-wrapper #item-list .item-card .item-summary .item-publisher-text {
  font-size: 0.625rem;
  padding-top: 5px;
}

#item-list-wrapper #item-list .item-card .item-summary p {
  word-break: break-word;
  white-space: normal;
  text-align: center;
}

#item-list-wrapper #item-list .item-card .item-purchase {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#item-list-wrapper #item-list .item-card .item-purchase .buy-btn {
  height: 20px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 0.625rem;
  border-radius: 2px;
  border: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.25);
  border-left: 1.5px solid rgba(0, 0, 0, 0.25);
}

#item-list-wrapper #item-list .item-card .item-purchase .buy-btn:hover {
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.25);
  border-left: 2.5px solid rgba(0, 0, 0, 0.25);
}

#item-list-wrapper #item-list .item-card .item-purchase .btn-in-stock {
  background-color: #3a6;
}

#item-list-wrapper #item-list .item-card .item-purchase .btn-out-of-stock {
  background-color: red;
}

#item-list-wrapper #item-list .item-card:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 560px) {
  #item-list {
    padding: 30px 5vw;
  }
}

#header {
  width: 100vw;
  height: 100px;
  max-width: 100%;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header h1 {
  font-family: runic;
  font-size: 3.75rem;
  color: white;
  margin-top: 12px;
  word-break: break-word;
  white-space: normal;
  text-align: center;
}

#header #mobile-nav-section {
  width: 10%;
  height: 100%;
  min-width: 75px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #title-section {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #cart-section {
  width: 10%;
  height: 100%;
  min-width: 75px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #cart-section #cart-icon {
  height: 25%;
  width: 25%;
  cursor: pointer;
}

#header #cart-section #cart-icon svg {
  height: 100%;
  width: 100%;
  color: white;
}

#login-create-wrapper {
  width: 100vw;
  height: auto;
  max-width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-create-wrapper h1 {
  font-size: 1.563rem;
  text-align: center;
  margin-bottom: 30px;
}

#login-create-wrapper #error-alert {
  color: red;
  width: 100%;
  margin: 25px 0;
  text-align: center;
}

#login-create-wrapper button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#login-create-wrapper button a {
  color: #FFFFFF;
  text-decoration: none;
}

#login-create-wrapper button:hover {
  opacity: 0.8;
}

#login-section {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10vw;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#login-section #login-form {
  width: 100%;
  max-width: 600px;
}

#login-section #login-form #login-container {
  padding: 16px;
  width: 100%;
}

#login-section #login-form #login-container input[type=email], #login-section #login-form #login-container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#login-section #login-form #login-container button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#login-section #login-form #login-container button:hover {
  opacity: 0.8;
}

#or-p {
  width: 100vw;
  max-width: 100%;
  text-align: center;
}

#add-item-section {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10vw;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#add-item-section #add-item-form {
  width: 100%;
  max-width: 600px;
}

#add-item-section #add-item-form #add-item-container {
  padding: 16px;
  width: 100%;
}

#add-item-section #add-item-form #add-item-container textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#add-item-section #add-item-form #add-item-container fieldset {
  width: 100%;
  padding: 12px 0;
  border-style: none;
}

#add-item-section #add-item-form #add-item-container fieldset input[type=radio] {
  margin: 0 10px 10px 0;
}

#add-item-section #add-item-form #add-item-container input[type=text], #add-item-section #add-item-form #add-item-container input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#add-item-section #add-item-form #add-item-container input[type=number] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#add-item-section #add-item-form #add-item-container input[type=checkbox] {
  padding: 20px 20px;
  margin: 15px 0;
}

#add-item-section #add-item-form #add-item-container #item-alert {
  width: 100%;
  margin: 25px 0;
  text-align: center;
}

#add-item-section #add-item-form #add-item-container button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#add-item-section #add-item-form #add-item-container button:hover {
  opacity: 0.8;
}

#create-account-section {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10vw;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#create-account-section #create-account-form {
  width: 100%;
  max-width: 600px;
}

#create-account-section #create-account-form #create-account-container {
  padding: 16px;
  width: 100%;
}

#create-account-section #create-account-form #create-account-container input[type=text], #create-account-section #create-account-form #create-account-container input[type=password], #create-account-section #create-account-form #create-account-container input[type=email], #create-account-section #create-account-form #create-account-container input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#create-account-section #create-account-form #create-account-container button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#create-account-section #create-account-form #create-account-container button:hover {
  opacity: 0.8;
}

#warehouse-wrapper {
  width: 100vw;
  height: auto;
  max-width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#warehouse-wrapper h1 {
  font-size: 1.563rem;
  text-align: center;
  margin-bottom: 30px;
}

#warehouse-wrapper button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#warehouse-wrapper button a {
  color: #FFFFFF;
  text-decoration: none;
}

#warehouse-wrapper button:hover {
  opacity: 0.8;
}

#warehouse-wrapper .warehouse-section {
  margin: 20px 0;
}

#warehouse-wrapper .warehouse-section .collapsible-header {
  width: 80vw;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c04242;
}

#warehouse-wrapper .warehouse-section .collapsible {
  width: 80vw;
  height: auto;
}

#warehouse-wrapper .warehouse-section .collapsible .collapsible-order-content {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#warehouse-wrapper .warehouse-section .collapsible .collapsible-item-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#warehouse-wrapper .warehouse-section .collapsible-invisible {
  display: none;
}

#desktop-nav {
  width: 100vw;
  height: 30px;
  max-width: 100%;
  background-color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#desktop-nav #desktop-menu {
  width: 50%;
  height: 100%;
}

#desktop-nav #desktop-menu #desktop-menu-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#desktop-nav #desktop-menu #desktop-menu-list .desktop-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 0 10px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #FFFFFF;
  cursor: pointer;
}

#desktop-nav #desktop-menu #desktop-menu-list a {
  color: #FFFFFF;
  text-decoration: none;
}

#desktop-nav #desktop-menu #desktop-menu-list a:hover {
  color: #1e1e1e;
}

#desktop-nav #desktop-menu #desktop-menu-list .desktop-menu-item:first-child {
  border-left: 0px;
}

#desktop-nav #desktop-menu #desktop-menu-list .desktop-menu-item:last-child {
  border-right: 0px;
}

#desktop-nav #desktop-search {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-right: 25px;
  color: white;
}

#footer {
  width: 100vw;
  height: 150px;
  max-width: 100%;
  background-color: #414141;
}

#cart {
  height: 60vh;
  width: 20vw;
  min-width: 200px;
  background-color: #1e1e1e;
  color: #FFFFFF;
  position: absolute;
  top: 130px;
  right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

#cart #cart-empty {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
}

#cart .cart-item {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  color: black;
  font-size: 1rem;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

* li {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

main h1 {
  font-size: 3.75rem;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */