@font-face {
    font-family: 'runic';
    src: url('../../assets/fonts/runic/runic.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/runic/runic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/runic/runic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/runic/runic.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/runic/runic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/runic/runic.svg#runic') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

//Font source - https://www.1001fonts.com/comic-runes-font.html