#header {
    width: 100vw;
    height: 100px;
    max-width: 100%;
    background-color: $banner-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: runic;
        font-size: $banner-text;
        color: white;
        margin-top: 12px;
        word-break: break-word;
        white-space: normal;
        text-align: center;
    }
    #mobile-nav-section {
        width: 10%;
        height: 100%;
        min-width: 75px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #title-section {
        width: 80%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #cart-section {
        width: 10%;
        height: 100%;
        min-width: 75px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #cart-icon {
            height: 25%;
            width: 25%;
            cursor: pointer;
            svg {
                height: 100%;
                width: 100%;
                color: white;
            }
        }
        
    }
}