

#login-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    z-index: 2;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.575);
    font-family: $standard-fonts;
    display: none;
    .login-visible {
        display: flex;
    }
    #login-window{
        width: 75vw;
        height: 75vh;
        background-color: $white;
        border-radius: 25px;
        overflow-y: scroll;
        overflow-x: hidden;
        #login-form {
            #login-container {
                padding: 16px;
                input[type=text], input[type=password] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                }
                button {
                    background-color: #04AA6D;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    border-radius: 10px;
                }
                button:hover {
                    opacity: 0.8;
                }
            }
        }
        p {
            width: 100%;
            text-align: center;
        }
        #create-section {
            width: 100%;
            padding: 14px 20px;
            button {
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 10px;
            }
            button:hover {
                opacity: 0.8;
            }
        }
    }
    #login-window::-webkit-scrollbar {
        width: 0;
    }
}



