@import 'variables', 'fonts';
@import 'ItemList', 'Header', 'LoginCreate', 'LoginForm', 'AddItemForm', 'CreateAccountForm', 'Warehouse', 'MyOrders', 'DesktopNav', 'Footer', 'Cart';

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    p {
        color: black;
        font-size: $user-text; 
        font-family: $standard-fonts;
    }
    li {
        font-family: $standard-fonts;
    }
}

main {
    min-height: 550px;
    h1 {
        font-size: $banner-text;
    }
}

.hidden {
    display: none;
}

