@import 'variables', 'fonts';
@import 'ItemList', 'Header', 'LoginCreate', 'LoginForm', 'CreateAccountForm', 'DesktopNav', 'Footer';

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    p {
        color: black;
        font-size: $user-text; 
        font-family: $standard-fonts;
    }
    li {
        font-family: $standard-fonts;
    }
}

main {
    h1 {
        font-size: $banner-text;
    }
}

