@import 'variables', 'fonts';
@import 'ItemList', 'Header', 'DesktopNav', 'Footer';

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    p {
        color: black;
        font-size: $user-text; 
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    }
    li {
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    }
}

main {
    h1 {
        font-size: $banner-text;
    }
}

